params {
  input = "${EAGER_INPUT}"
  fasta = "${EAGER_FASTA}"
  skip_preseq = true
  skip_fastqc = true
  aligner = "${EAGER_ALIGNER}"
  dedupper = "${EAGER_DEDUPPER}"
  run_bam_damage = true
  outdir = "${EAGER_OUTDIR}"

  /*
   * RESOURCES
   * =========
   */

  max_cpus   = 16
  max_memory = '64 GB'
}
